{% extends 'base.html' %}
{% block content %}
<form class="container m-auto w-75 " method="post" action="/first_app/aboutPage/">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputName" class="form-label">Name </label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" name="userName">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    </div>

    <select class="form-select" aria-label="Default select example" name="select">
        <option selected>Rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    <button type="submit" class="btn btn-primary mt-5">Submit</button>
</form>


{% endblock %}